
#logo{
    width:290px;
    aspect-ratio:1,2;
}
/*navigation bar*/
.header1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}
/*vendosja e fotos ne background*/
body{
    background-image: url(foto1.png);
    background-size:cover;
    background-attachment:fixed;
    background-position-x: center;
    margin:0;
   /* width: 100vw;
    height: 100vh;*/
}
a{
    text-decoration: none;
    color:darkgrey;
    font-size: 18px;
}
a:hover{
    opacity: 0.7;
}

ul{
    display:flex;
    align-items:center;
    list-style: none;
}
/*me u qas tek lista ne navigation bar*/
ul>li{
    padding-right: 10px;
}
#fieldset{
    
    border:5px solid rgb(151, 222, 151);
    border-radius: 30px;
    width :250px;
    margin-left:550px;
    margin-top:50px;
    height:350px;
    padding-top:50px;
    padding-bottom: 40px;
    padding-left:80px;
    padding-right: 70px;
    font-family:'Times New Roman', Times, serif;
    font-size: 19px;
    background-color:rgb(224, 243, 224);
    opacity: 0.6;
    text-align: left;
}
#p1{
    font-size: medium;
}


.footer .footer-content{
    border: 1px;
    height: 60px;
}

.footer .footer-bottom{
    background: #b8bfc7;
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    /* position: fixed; */
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    text-decoration-color: whitesmoke;
    margin-bottom: 0px;
    opacity: 0.7;
    
}