
#logo{
  width:290px;
  aspect-ratio:1,2;
}
/*navigation bar*/
.header1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}
/*vendosja e fotos ne background*/
body{
  background-image: url(foto1.png);
  background-size:cover;
  background-attachment:fixed;
  background-position-x: center;
  margin:0;
 /*width: 100vw;
  height: 100vh;*/
}
a{
  text-decoration: none;
  color:darkgrey;
  font-size: 18px;
}
a:hover{
  opacity: 0.7;
}

ul{
  display:flex;
  align-items:center;
  list-style: none;
}
/*me u qas tek lista ne navigation bar*/
ul>li{
  padding-right: 10px;
}

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}


.footer .footer-content{
    border: 1px;
    height: 60px;
}

.footer .footer-bottom{
    background: #b8bfc7;
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    /* position: fixed; */
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    text-decoration-color: whitesmoke;
    margin-bottom: 0px;
    opacity: 0.7;
    
}
/*home page*/
#fotoHome{
    background: fixed;
    width: 100vw;
    height: 70vh;
    
}
/*teksti brenda fotos*/
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    font-size:60px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .column {
    float:left;
    width: 5%;
    padding:5%;    
  }
  
  /* Style the images inside the grid */
  .column img {
    width:280px;
    height: 180px;
  }
  .row{
    display: flex;
    justify-content: space-around;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
/*------------------------------------------------------------*/
/*container per gjerat qe jep website */
.container1{
    position: relative;
    width: 50%;
}
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 300%;
  }
  
  .container1:hover .image{
    opacity: 0.3
  }
  
  .container1:hover .middle {
    opacity: 1;
  }
  
  .text {
   
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;

  }
 
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}