
#logo{
  width:290px;
  aspect-ratio:1,2;
}
/*navigation bar*/
.header1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}
/*vendosja e fotos ne background*/
body{
  background-image: url(foto1.png);
  background-size:cover;
  background-attachment:fixed;
  background-position-x: center;
  margin:0;
 /*width: 100vw;
  height: 100vh;*/
}
a{
  text-decoration: none;
  color:darkgrey;
  font-size: 18px;
}
a:hover{
  opacity: 0.7;
}

ul{
  display:flex;
  align-items:center;
  list-style: none;
}
/*me u qas tek lista ne navigation bar*/
ul>li{
  padding-right: 10px;
}

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}


.footer .footer-content{
    border: 1px;
    height: 60px;
}

.footer .footer-bottom{
    background: #b8bfc7;
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    /* position: fixed; */
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    text-decoration-color: whitesmoke;
    margin-bottom: 0px;
    opacity: 0.7;
    
}
/*home page*/
#fotoHome{
    background: fixed;
    width: 100vw;
    height: 70vh;
    
}
/*teksti brenda fotos*/
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    font-size:60px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .column {
    float:left;
    width: 5%;
    padding:5%;    
  }
  
  /* Style the images inside the grid */
  .column img {
    width:280px;
    height: 180px;
  }
  .row{
    display: flex;
    justify-content: space-around;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
/*------------------------------------------------------------*/
/*container per gjerat qe jep website */
.container1{
    position: relative;
    width: 50%;
}
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 300%;
  }
  
  .container1:hover .image{
    opacity: 0.3
  }
  
  .container1:hover .middle {
    opacity: 1;
  }
  
  .text {
   
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;

  }
 
  