#logo{
    width:290px;
    aspect-ratio:1,2;
  }
  /*navigation bar*/
  .header1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
  }
  /*vendosja e fotos ne background*/
  body{
    background-image: url(foto1.png);
    background-size:cover;
    background-attachment:fixed;
    background-position-x: center;
    margin:0;
   /*width: 100vw;
    height: 100vh;*/
  }
  a{
    text-decoration: none;
    color:darkgrey;
    font-size: 18px;
  }
  a:hover{
    opacity: 0.7;
  }
  
  ul{
    display:flex;
    align-items:center;
    list-style: none;
  }
  /*me u qas tek lista ne navigation bar*/
  ul>li{
    padding-right: 10px;
  }
  
  /*Dizajnimi i Banner*/
  #teksti{
    height: 35rem;
    background-color:rgb(166, 231, 160) ;
    border: rgb(166, 231, 160);
    margin-left: -1px;
    margin-top: 10px;
  }
  h1 {
    font-size: clamp(3rem, 15vmin, 8rem);
    font-family: sans-serif;
    color: hsl(0 0% 98%);
  }
  
  .underlined {
  /*   background: red; */
    position: relative;
  }
  
  .underline-mask:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid hsl(280 80% 50%);
    /* Use a conic gradient mask to hide and show the bits you want */
    --spread: 140deg;
    --start: 290deg;
    -webkit-mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
            mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
  }
  
  
  .underline-overflow {
    display: inline-block;
    /* A little extra padding and overflow hidden   */
    overflow: hidden;
    padding-bottom: clamp(1rem, 2vmin, 2rem);
  }
  .underline-overflow:after {
    content: '';
    position: absolute;
    top: 100%;
    height: 150%;
    aspect-ratio: 2.5 / 1;
    left: 50%;
    transform: translate(-50%, -10%);
    border-radius: 50%;
    border: 6px solid hsl(10 80% 50%);
  }
  
  .underline-clip:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid hsl(130 80% 50%);
    /* Use a clip-path to hide and show the bits you want */
    -webkit-clip-path: polygon(0 0, 50% 50%, 100% 0);
            clip-path: polygon(0 0, 50% 50%, 100% 0);
  }
  
  .Kosova{
    max-width: 1400px;
    margin: 0% auto;
    padding: 2rem 1rem; 
    margin-top: -5%;
    width: max-content;
  }
  
  
  .Qytetet{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-top: 80px;
  
  }
  .items{
    text-align: center;
    padding: 3rem 2rem;
    background:#fff;
   
    outline: .2rem solid rgb(171, 248, 171);
    outline-offset: -1.5rem;
    cursor: pointer;
  }
    .items:hover{
    outline: .2rem solid rgb(171, 248, 171);
    outline-offset: 0;
    }
  
  .items img{
    width: 70%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
  
  }
 /* .items img:hover{
    transform: scale(1.1);
  }*/
  .items h4{
    padding: .5rem 0;
    text-align: center;
    font-size: 1.5rem;
    color: seagreen;
  }
  .items button{
    width: 20%;
    font: bold;
    border:transparent;
    width: 80px;
    height:30px;
    background-color: #b8bfc7;
  }
  #ButtonFont{
    color:white;
  }

  .footer .footer-content{
    border: 1px;
    height: 60px;
}

.footer .footer-bottom{
    background: #b8bfc7;
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    /* position: fixed; */
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    text-decoration-color: whitesmoke;
    margin-bottom: 0px;
    opacity: 0.7;
    
}
  
 
 